{% extends 'base.html' %}


{% block body %}

<h1> Reset Token </h1>


    <form method="POST" action="" id="formsub">
        {{ forms.hidden_tag() }}
        <br>
        {{ forms.password.label }}
        
        {% if forms.password.errors %}
            {{ forms.password(class='falseinput') }}
                {% for error in forms.password.errors %}
                    <legend>{{ error }}</legend>
                {% endfor %}
        {% else %}
            {{ forms.password }}
        
        {% endif %}
        <br>
        {{ forms.confirm_password.label }}
        
        {% if forms.confirm_password.errors %}
            {{ forms.confirm_password(class='falseinput') }}
                {% for error in forms.confirm_password.errors %}
                    <legend>{{ error }}</legend>
                {% endfor %}
        {% else %}
            {{ forms.confirm_password }}
        
        {% endif %}

        <br>
        {{ forms.submit }}
        <br>

    </form>
{% endblock %}