body{
    background-color: black;
    color:white;
    text-align: center;
}
h1 {
    margin-top: 60px;
    margin-bottom: 100px
    
}

table {
    width: 1000px ;
    height:fit-content;
    margin-left: 15%;
}
th {
    border: 1px solid white;
}
td {
    border: 1px solid white;
}
tr {
    margin-top: 80px;
}
form {
    margin-bottom: 150px;
}
a {
    color: white;
    font-style: italic;
}